<div
    class="flex h-full min-w-[300px] max-w-[350px] flex-grow basis-0 flex-col justify-between rounded-xl bg-white px-3 py-3" title="">
    <div class="relative">
        <img src="/assets/products/pic.png" alt="">
        <div class="absolute top-0 flex w-full justify-between">
            <k-tooltip body="أضف للمقارنة">
                <k-button variation="ghost">
                    <ng-icon name="matCompareArrowsOutline" />
                </k-button>
            </k-tooltip>
            <k-chip variation="secoundry">
                جديد
            </k-chip>
        </div>
    </div>
    <div class="grid justify-items-start gap-1">
        <h3>{{title}}</h3>
        <div class="flex gap-1">
            <span *ngFor="let item of [].constructor(5); let i = index" class="text-lg">
                <ng-icon name="heroStarSolid" color="#eaeaea" />
            </span>
        </div>
        <caption class="text-xs text-[#888] line-through">
            {{originalPrice}} ج.م
        </caption>
        <p class="font-bold">
            {{price}} ج.م
        </p>
        <div class="flex w-full gap-2">
            <k-button class="flex flex-grow" innerClass="w-full">
                <span>
                    <ng-icon name="matAddShoppingCartOutline" />
                </span>
                أضف للسلة
            </k-button>
            <k-button variation="ghost">
                <ng-icon name="matShareOutline" />
            </k-button>
            <k-button variation="ghost">
                <ng-icon name="matFavoriteBorderOutline" />
            </k-button>
        </div>
    </div>
</div>
