<section>
    <k-swiper>
        <img
            src="/assets/offers.png"
            class="w-full flex-grow object-cover"
            alt="offers"
        />
        <img
            src="/assets/offers.png"
            class="w-full flex-grow object-cover"
            alt="offers"
        />
        <img
            src="/assets/offers.png"
            class="w-full flex-grow object-cover"
            alt="offers"
        />
        <img
            src="/assets/offers.png"
            class="w-full flex-grow object-cover"
            alt="offers"
        />
    </k-swiper>
</section>

<section class="container mx-auto flex flex-col gap-4 py-10 md:flex-row">
    <div class="w-full md:min-w-[500px]">
        <h1>منتجات تصفحتها مؤخرا</h1>
        <div class="grid gap-2">
            <k-card
                variation="mini"
                title="تيشيرت "
                [price]="90.0"
                [rating]="3"
            />
            <k-card
                variation="mini"
                [originalPrice]="150.0"
                title="تيشيرت "
                [price]="90.0"
                [rating]="3"
            />
            <k-card
                variation="mini"
                title="تيشيرت "
                [price]="90.0"
                [rating]="3"
            />
            <k-card
                variation="mini"
                title="تيشيرت "
                [price]="90.0"
                [rating]="3"
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div class="flex items-center gap-4">
            <h1>وصل حديثا</h1>
            <hr class="felx flex-grow bg-[#f6f6f6]" />
            <k-button
                variation="outline"
                innerClass="w-full"
                class="min-w-[150px]"
            >
                عرض الكل
            </k-button>
        </div>
        <div class="flex flex-wrap justify-center gap-2">
            <k-card
                title="تيشيرت "
                [originalPrice]="150.0"
                [price]="90.0"
                [rating]="3"
            />
            <k-card title="تيشيرت " [price]="90.0" [rating]="3" />
            <k-card title="تيشيرت " [price]="90.0" [rating]="3" />
            <k-card title="تيشيرت " [price]="90.0" [rating]="3" />
            <k-card title="تيشيرت " [price]="90.0" [rating]="3" />
            <k-card title="تيشيرت " [price]="90.0" [rating]="3" />
            <k-card title="تيشيرت " [price]="90.0" [rating]="3" />
        </div>
    </div>
</section>
